.backup-details {
   height: 100%;
   width: 100%;
   font-size: 1.3rem;

   .backup-content {
      padding-top: 10px;
      display: flex;
      justify-content: center;

      > * {
         display: inline-block;
      }

   }

   .backup-title {
      width: 100%;
      padding: 10px 0 5px 40px;
      background-color: #fafafa;
      color: #333333;

      .backup-id {
         font-weight: 600;
         font-size: 2.5rem;
      }

      .panel {
         height: 60px;
         display: flex;
         justify-content: space-between;
         align-items: center;

         .status-wrapper {
            //width: 20%;
            text-align: center;
            font-size: 1.2rem;
            
            > * {
                display: inline;
            }

            .next-backup-time {
                margin-left: 20px;
                text-align: center;
                font-size: 1rem;
                color: $grey;
            }
         }

         

         .operations-wrapper {
            width: 30%;
            display: flex;
            justify-content: flex-end;

            .operation {
               padding: 10px;
               width: 60px;
               text-align: center;
               display: inline-block;
               color: $white;
               margin-right: 20px;
               border-radius: 5px;
               font-size: 1.1rem;
               transition: all ease-in-out .25s;
            }

            .stop {
               background-color: $red;

               &:hover {
                   background-color: darken($red, 10%);
               }
            }

            .resume {
               background-color: $green;

               &:hover {
                    background-color: darken($green, 10%);
               }
            }

            .delete {
               background-color: $dark-grey;

               &:hover {
                    background-color: darken($dark-grey, 10%);
               }
            }

            .backup {
               background-color: $blue;

               &:hover {
                    background-color: darken($blue, 10%);
               }
            }
         }
      }
   }

   .backup-subtitle {
      position: relative;
      height: 40px;
      background-color: $light-grey;
      display: flex;
      justify-content: center;

      .subtitle-tab {
         margin-right: 20px;
         padding: 0 10px;
         line-height: 40px;
         color: $light-black;
      }

      .active {
         border-bottom: 2px solid $blue;
         color: $blue;
      }
   }

   .databases-content {

      display: flex;
      justify-content: center;
      padding-top: 10px;
      align-items: flex-start;
      flex-wrap: wrap;

      > * {
         width: 45%;
      }

      .original-database {
         margin: 0 20px 0 0;
         @media screen and (max-width: 1400px) {
            width: 95%;
            margin: 0;
         }
      }

      .copy-databases {
         @media screen and (max-width: 1400px) {
            width: 95%;
            margin: 0;
         }
      }
   }

   .stats-content, .logs-content{
      margin: 10px auto;
      border: 1px solid rgba(0, 0, 0, .25);
      width: 90%;
      max-width: 1500px;
   }

   .config-content {
      width: 90%;
      max-width: 1500px;
      margin: auto;

      .button-wrapper {
        text-align: center;
        padding-bottom: 10px;

        .edit-button {
             padding: 10px 15px;
             margin: 0 auto;
        }
      }

      .cancel-wrapper {
          padding: 20px 0;
          text-align: center;

          .cancel {
              display: inline-block;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background: #999;
              text-align: center;
              transition: background ease .2s;

              &:hover {
                  background: #aaa;
              }
              
              i {
                  color: white;
                  line-height: 40px;
              }
          }
      }
   }
}