.login {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 2rem;

    .content-align {
        width: 30%;
        max-width: 400px;
        text-align: center;
        margin: 0 auto;
    }

    .title {
        padding-top: 15vh;
        text-align: center;
        font-weight: 600;
        color: $blue;
        font-size: 4rem;
    }

    input {
        width: 100%;
        display: block;
        margin: 2rem auto;
        border: none;
        outline: none;
        padding: 10px 20px;
        border-radius: 4px;
        background: #f2f2f2;
        transition: all ease-in-out .2s;
        color: #888;
        font-size: 2rem;

        &::placeholder{
            color: #999;
            font-weight: 300;
            font-size: 2rem;
        }

        &:focus {
            background: #eee;
        }
        
    }

    .error {
        height: 1rem;
        font-size: 1rem;
        color: red;
        text-align: center;
    }

    .login-button {
        margin: 1.1rem auto;
        width: 100%;
        padding: 10px;
    }
}