.copy-databases {
   border: $border;

   .header {
      padding: 10px;
      display: flex;
      color: $light-black;
      justify-content: space-between;
      border-bottom: $border;
      height: 50px;

      > * {
         display: inline-block;
      }

      .title {
         font-size: 1.5rem;
         line-height: 30px;
      }


      .filter {
         height: 100%;

         .time-selector {
            display: inline-block;
            font-size: 1.2rem;
            padding-right: 20px;

            .name {
               padding-right: 10px;
            }

            .selector {
               display: inline-block;
               color: $black;

              input {
                  padding: 5px;
               }
            }
         }

         .reset-button {
            padding: 5px 10px;
            margin-right: 10px;
            border-radius: 3px;
            transition: all .2s;
            background-color: $light-green;
            color: $white;

            &:hover {
               background-color: darken($light-green, 2%);
            }
         }

      }
   }

   .database {

      border-bottom: $border;
      transition: all .25s;

      .database-header {
         &:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, .12);
         }

         .basic-info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .name {
               padding: 10px;
            }

            > * {
               display: inline-block;
               margin-right: 10px;
            }

            .operation {
               padding: 5px 6px;
               color: $white;

               i {
                  color: #ccc;
                  transition: all .25s;

                  &:hover {
                     color: #ddd;
                  }
               }
            }
         }

         .time-info {
            display: flex;

            .time {
               padding: 0 10px 3px;
               display: inline-block;
               margin-right: 10px;
               color: $grey;
               flex-grow: 1;
               font-size: 1rem;

               i {
                  margin-right: 5px;
               }
            }
         }
      }

      .database-details {

         .database-collection {
            display: flex;
            justify-content: space-between;

            &:hover {
               background-color: #ddd;
            }

            .collection-select {
               padding: 10px;
               flex-grow: 1;

               input {
                  margin-right: 20px;
               }

               .collection-name {
               }
            }

            .collection-view {
               padding: 0 10px;
               display: flex;
               justify-content: center;
               align-items: center;

               .view-icon {
                  color: #777777;
                  transition: all .25s ease-in-out;

                  &:hover {
                     color: #333333;
                  }
               }
            }
         }

         .database-collection.selected {
            background-color: #ddd;
         }

         .operations {
            display: flex;
            justify-content: flex-end;
            padding: 10px 0;

            .error-message {
               color: $red;
               font-size: .8rem;
               padding: 8px 10px;
            }

            .operation {
               margin-right: 10px;
               padding: 5px 10px;
               border-radius: 3px;
            }

            .select-all {
               color: $blue;
            }

            .restore {
               background-color: $light-green;
               color: $white;
            }
         }
      }

   }
}