.backup-logs-table {
    width: 100%;

    .theader {
    	&:not(:last-child) {
    		border-bottom: 1px solid rgba(0, 0, 0, .15);
    	}

    	.td {
    		color: $blue;
    	}
    }

    .tbody {
    	height: 600px;
    	overflow: auto;
    }

    .tr {

    	.td {
    		display: inline-block;	
    		padding: 10px;
			vertical-align: top;	
			line-height: 2rem;

    		.sort-arrow {
    			padding: 0 10px;
    		}
    	}
    }

    .table-pagination {
    	border-top: 1px solid rgba(0, 0, 0, .15);
    	padding: 6px;
    }
}