.statistics {
   border: $border;

   .statistics-header {
      padding: 10px;
      background-color: $blue;
      color: $white;
      font-size: 2rem;
   }

   .item {
      padding: 5px;
      font-size: 1.1rem;

      .key {
         color: $blue;
         font-weight: 600;
         padding-bottom: 3px;
      }

      .value {
      }
   }
}