.backup-details {
   height: 100%;
   width: 100%;
   font-size: 1.3rem;

   .backup-content {
      padding-top: 10px;
      display: flex;
      justify-content: center;

      > * {
         display: inline-block;
      }


   }
}