.backup-details {
   height: 100%;
   width: 100%;
   font-size: 1.3rem;

   .backup-content {
      padding-top: 10px;
      display: flex;
      justify-content: center;

      > * {
         display: inline-block;
      }

      .backup-databases-wrapper {
         width: 80%;
         margin-right: 20px;
      }

      .backup-statistics-wrapper {
          width: 15%;
      }
   }
}