.backup-databases {
   border: 1px solid rgba(0, 0, 0, .12);

   .header {
      padding: 10px;
      border-bottom: $border;
      display: flex;
      background-color: $blue;
      color: $white;
      justify-content: space-between;

      > * {
        display: inline-block;
      }

      .title {
        left: 0;
        font-size: 2rem;
      }

      .filter {
         height: 100%;

         .time-selector {
            display: inline-block;
            font-size: 1.2rem;
            padding-right: 20px;

            .name {
               padding-right: 10px;
            }

            .selector {
               display: inline-block;
               color: $black;

              input {
                  padding: 5px;
               }
            }
         }
      }
   }

   .databases {
   }
}