html, body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: Lato,'Myriad Pro',Helvetica,Sans-serif;
  font-weight: 300;
  color: #ECE9E9;
}

* {
  box-sizing: border-box;
}

$black: #191f28;
$blue: rgba(24, 109, 218, 0.8);
$white: #ECE9E9;
$green: #0CC39F;

$header-height: 60px;
$sidebar-width: 240px;


@mixin user-select($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}



.link {
  text-decoration: none;
  color: $white;
}

.button {
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  transition: all .4s ease;
  @include user-select(none);

  &.yes {
      background: $blue;
      color: white;

      &:hover {
        background: darken($blue,5%);
      }
  }

  &.no {
      background: #eee;
      color: #888;

      &:hover {
        background: #ddd;
      }
  }


  &:hover {
    cursor: pointer;
  }

  &.big {
    padding: 10px 20px;
    font-size: 1.2rem;
  }

  &.primary {
     border: 1px solid #ddd;
     background: $white;
     font-size: 1rem;
     padding: 4px 10px;
  }
}

.clickable {
   cursor: pointer;
}