.mongo-backup-manager {

   > .content {
      position: fixed;
      top: $header-height;
      height: calc(100% - #{$header-height});
      width: 100%;
      background: $green;
      overflow: auto;
   }

}