.filters {

   .item {

      .name {
         color: $blue;
         padding: 10px;
         text-transform: uppercase;
      }

      .filter {
         width: 100%;
      }

      .status-filter {
        // width: 200px;
      }

      .id-filter {
         //width: 300px;
      }

   }

}