.filters {
   width: 100%;
   padding: 10px;
   background-color: $light-black;

   .item {

      display: inline-flex;
      justify-content: center;
      align-items: center;

      > * {
         vertical-align: top;
         display: inline-block;
      }

      .name {
         color: $white;
         padding-left: 20px;
         padding-right: 10px;
         text-transform: uppercase;
      }

      .filter {
      }

      .status-filter {
         width: 200px;
      }

      .id-filter {
         width: 300px;
      }

   }

}