.mongo-backup-manager {

    > .header {
        height: $header-height;
        width: 100%;
        line-height: #{$header-height};
        background-color: $black;
        @include user-select(none);

        > * {
            display: inline-block;
        }

        .title {

            .logo {
                padding-left: 15px;
                height: 100%;
            }

            .text {
                font-size: 1.2rem;
                padding-left: 15px;
            }

            > * {
                display: inline-block;
                vertical-align: top;
            }
        }

        .navigation {
            float: right;

            > * {
                display: inline-block;
                vertical-align: top;
            }

            .item {
                width: 130px;
                text-align: center;
                border-left: 2px solid lighten($black, 10%);
                transition: all .2s ease-in-out;

                &:hover {
                    background-color: lighten($black, 10%);
                    color: #bbb;
                    cursor: pointer;
                }
            }
        }
    }
}