html, body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: Lato, 'Myriad Pro', 'Helvetica Neue', 'Microsoft Yahei';
  font-weight: 300;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$black: #191f28;
$light-black: #333333;
$blue: rgba(24, 109, 218, 0.8);
$light-blue: rgba(46, 144, 218, 0.8);
$white: #ffffff;
$green: #0CC39F;
$dark-grey: #989ca5;
$grey: #cccccc;
$light-grey: #fafafa;
$red: #ed281a;
$light-green: #0CC39F;
$dark-green: #1F8B36;
$header-height: 60px;
$sidebar-width: 240px;

$border: 1px solid rgba(0, 0, 0, .1);
$box-shadow: 0 2px 6px rgba(0, 0, 0, .12);

.link {
  text-decoration: none;
  color: $white;
}

.button {
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  transition: all .4s ease;
  user-select: none;

  &.yes {
      background: $blue;
      color: white;

      &:hover {
        background: darken($blue,5%);
      }
  }

  &.no {
      background: #ccc;
      color: #888;

      &:hover {
        background: #bbb;
      }
  }


  &:hover {
    cursor: pointer;
  }

  &.big {
    padding: 10px 20px;
    font-size: 1.2rem;
  }

  &.primary {
     border: 1px solid #ddd;
     background: $white;
     font-size: 1rem;
     padding: 4px 10px;
  }
}

.clear-fix:after {
  display: table;
  content: '';
  clear: both;
}

.clickable {
   cursor: pointer;
}

.button-waiting {
   background: #ccc !important;
   cursor: wait !important;
}