.panel {
   margin-top: 10px;
   height: 200px;
   border: 1px solid rgba(0, 0, 0, .1);
   box-shadow: 0 2px 6px rgba(0, 0, 0, .12);

   .status {
      display: inline-block;
      width: 32%;
      height: 100%;
      font-size: 2rem;
      line-height: 200px;
      text-align: center;
      vertical-align: top;
      color: white;
   }

   .info-operation-wrapper {
      display: inline-block;
      width: 68%;
      height: 100%;
      vertical-align: top;

      .backup-info {
         height: 80%;

          .item {
             font-size: 1.2rem;
             height: 50%;
             padding: 10px;

             > * {
                display: inline-block;
             }

             .title {
                 text-transform: uppercase;
                 font-weight: 500;
                 margin-right: 10px;
             }

             .time {
                 margin-right: 10px;
             }
         }

      }

      .operation-buttons {
         height: 20%;
         display: flex;
         justify-content: flex-end;
         padding-bottom: 5px;

         .operation-button {
            color: white;
            margin-right: 10px;
            padding: 10px;
            height: 100%;
         }

         .stop-button {
            background-color: red;
         }

         .resume-button {
            background-color: $green;
         }

         .view-button {
            background-color: #aaa;
         }
      }
   }
}