.summary {

    display: flex;
    justify-content: space-between;

   .item {
      height: 100px;
      display: inline-block;
      border: 1px solid rgba(0, 0, 0, .1);
      box-shadow: 0 2px 6px rgba(0, 0, 0, .12);
      font-size: 2rem;


     .title {
          font-weight: 600;
          text-align: center;
          text-transform: uppercase;
          margin: 10px;
      }

      .value {
          text-align: center;
         // color: $blue;
      }
   }

}