.summary {

    display: flex;
    justify-content: space-between;

   .item {
      height: 100px;
      display: inline-block;
      border: $border;
      box-shadow: $box-shadow;
      font-size: 2rem;


     .title {
          font-weight: 600;
          text-align: center;
          text-transform: uppercase;
          margin: 10px;
      }

      .value {
          text-align: center;
         // color: $blue;
      }
   }

}