.mongo-backup-manager {

    .configurations-container {
        display: flex;
        overflow: auto;
        color: $black;

        .form-wrapper {
            padding: 20px 60px;
        }
    }
}