.mongo-backup-manager {

    .configurations-container {
        display: flex;
        overflow: auto;
        color: $black;
        height: 100%;

        .form-wrapper {
            padding: 20px 60px;
        }
    }
}