.configuration-form {

    .content {
        .select-all, .info {
            display: inline-block;
            margin-left: 10px;
            font-size: 1rem;
            color: #04b1f2;
        }

        .datetime-wrapper {
            input {
                width: 100%;
                padding: 8px 20px;
                font-size: 1.2rem;
                border: 1px solid rgba(0, 0, 0, .26);
            }

            .error {
                input {
                    border-color: red;
                    outline: none;
                }
            }
        }
    }
}