.configuration-progress {
    width: 100%;

    .stage {
       border: 1px solid rgba(0, 0, 0, .26);
       margin: 20px 0;
       border-radius: 5px;
       padding: 12px;
    }

    .active {
       background-color: $blue;
    }
}