.review-form {

   .row {
       width: 100%;
       font-size: 1.4rem;
       border: 1px solid rgba(0, 0, 0, 0.26);
       margin: 10px;
       border-radius: 3px;
       float: left;
       position: relative;
       overflow: hidden;
       box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2);
       transition: all .2s ease-in-out;

       &:hover {
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
       }

       .cell {
          display: inline-block;
          position: relative;
          float: left;
       }

       .name {
          padding: 10px 20px;
          left: 70%;
          width: 30%;
       }

       .value {
          //color: $green;
          width: 70%;
          left: 70%;
          padding: 10px;
       }

       .disabled {
          color: red;
       }
   }

   .name-row {
       width: 100%;
       float: left;
       background: $green;
       position: relative;
       right: 70%;
   }

}