.mongo-backup-manager {

    .container {
         //position: absolute;
         //top: 50%;
         //left: 50%;
         //transform: translate(-50%, -50%);
         color: $black;

         > * {
            margin: auto;
         }

         .progress {
              padding: 40px;
              width: 600px;

              .bar-wrapper {
                    background-color: darken($white, 20%);
                    border-radius: 4px;
                    width: 70%;
                    height: 3px;
                    margin: auto;

                   .bar {
                      height: 3px;
                      background-color: $blue;
                      transition: all .5s ease-in;
                   }
              }
         }

         .form {
             border: 1px solid #eee;
             border-radius: 10px;
             background: #fff;
             padding: 20px 50px 0 50px;
             box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);

             .title {
                 text-align: center;
                 font-weight: 600;
                 font-size: 1.8rem;
                 color: #777777;
             }

                 .content {
                     margin: auto;

                     > * {
                        display: block;
                     }

                     label {
                         padding: 15px 0 10px 0;
                         font-size: 1.3rem;
                         font-weight: 600;
                     }

                     .input-field {
                         width: 100%;
                         padding: 8px 20px;
                         font-size: 1.2rem;
                         border: 1px solid #eee;
                         //background: rgba(238, 238, 238, 0.9);
                         //border-radius: 20px;
                         transition: all .4s ease;

                         &:focus {
                            outline: none;
                            //box-shadow: 0 0 15px 1px;
                            box-shadow: 0 0 2px 1px $blue;
                         }
                     }
                 }
             .footer {
                 .button-left, .button-right, .button-middle {
                     width: 135px;
                     margin-top: 30px;
                     margin-bottom: 30px;
                 }

                 .button-right {
                     float: right;
                 }

                 .button-middle {
                     display: block;
                     margin-left: auto;
                     margin-right: auto;
                 }
             }
         }
    }
}