.mongo-backup-manager {

    .container {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 60%;
         height: 90%;
         color: $black;

         box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
         border: 1px solid #eee;
         background: #fff;
         padding: 10px 20px;

         > * {
              margin: auto;
         }

         .header {
            text-align: center;

            .title {
               font-weight: 600;
               font-size: 1.5rem;
               padding: 20px;
            }
         }

         .progress {
               width: 50%;

               .stages {
                     display: flex;
                     justify-content: space-between;

                     .step {
                         text-align: center;
                         width: 50px;
                         height: 50px;
                         line-height: 36px;
                         font-size: 1.2rem;
                         border-radius: 50%;
                         border: 8px solid #ddd;
                         //position: relative;
                         background: #fff;
                         z-index: 1;
                     }

                     .current, .past {
                         border-color: $green;
                     }

                     .past:after {
                         content: '\2713';
                         color: $green;
                     }
               }

               .bar-wrapper {
                  width: 100%;
                  height: 5px;
                  transform: translateY(-26px);
                  .bar {
                     transition: all .4s ease;
                     height: 100%;
                     background: $green;
                  }
               }
         }

         .form {
             padding: 20px 50px 0 50px;

             .title {
                 text-align: center;
                 font-weight: 600;
                 font-size: 1.8rem;
                 color: #777777;
             }

                 .content {
                     margin: auto;

                     > * {
                        display: block;
                     }

                     label {
                         padding: 15px 0 10px 0;
                         font-size: 1.3rem;
                         font-weight: 600;
                     }

                     .input-field {
                         width: 100%;
                         padding: 8px 20px;
                         font-size: 1.2rem;
                         border: 1px solid #eee;
                         //background: rgba(238, 238, 238, 0.9);
                         //border-radius: 20px;
                         transition: all .4s ease;

                         &:focus {
                            outline: none;
                            //box-shadow: 0 0 15px 1px;
                            box-shadow: 0 0 2px 1px $blue;
                         }
                     }
                 }
             .footer {
                 .button-left, .button-right, .button-middle {
                     width: 135px;
                     margin-top: 30px;
                     margin-bottom: 30px;
                 }

                 .button-right {
                     float: right;
                 }

                 .button-middle {
                     display: block;
                     margin-left: auto;
                     margin-right: auto;
                 }
             }
         }
    }
}