.mongo-backup-manager {

    > .header {
        height: $header-height;
        width: 100%;
        line-height: $header-height;
        background-color: $black;
        color: white;
        user-select: none;

        > * {
            display: inline-block;
        }

        .title {
            
            > * {
                vertical-align: top;
            }

            .logo {
                padding-left: 15px;
                height: 100%;
            }

            .text {
                font-size: 1.2rem;
                padding-left: 15px;
            }
        }

        .navigation {
            float: right;

            > * {
                display: inline-block;
                vertical-align: top;
            }

            .icon {
                text-align: center;
                line-height: $header-height;
                padding: 0 20px;
                font-size: 1.5rem;
                transition: all ease .2s;

                &:hover {
                    cursor: pointer;
                    background: #555;
                }
            }
        }
    }
}