.copy-databases {
   border: $border;

   .header {
      padding: 10px;
      display: flex;
      color: $light-black;
      justify-content: space-between;
      border-bottom: $border;
      height: 50px;

      > * {
         display: inline-block;
      }

      .title {
         font-size: 1.5rem;
         line-height: 30px;
      }


      .filter {
         height: 100%;

         .time-selector {
            display: inline-block;
            font-size: 1.2rem;
            padding-right: 20px;

            .name {
               padding-right: 10px;
            }

            .selector {
               display: inline-block;
               color: $black;

              input {
                  padding: 5px;
               }
            }
         }

         .reset-button {
            padding: 5px 10px;
            margin-right: 10px;
            border-radius: 3px;
            transition: all .2s;
            background-color: $light-green;
            color: $white;

            &:hover {
               background-color: darken($light-green, 2%);
            }
         }

      }
   }
}